.purple {
    color: #880E4F;
}

.white {
    color: #FFF;
}

.btn-purple {
    color: #fff;
    background-color: #880E4F;
    border-color: #880E4F;
}

.form-rounded {
    border-radius: 1rem;
}

.box {
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #880E4F  0%,#FFFF99  60%, #FFF 61%, #FFF 100%);
    border-image-slice: 1;
    width: 200px;
}

.bck-purple {
    width: 100%;
    background-color: #880E4F;
}

.footer-hov:hover {
    color: #FFFF99;
    text-decoration: none;
}
